{% extends 'base.html' %}

{% block 'Contenido' %}
<div id="quienes_somos" class="container bg-black d-none d-sm-block">
    <div class="row">
        <h2 class=" text-center mt-3 titulos">Quienes Somos?</h2>
        <div class="col-4 py-2"></div>

        <div class="col-4 py-2">
            <div class="bg-black p-3">
                <div class="bg_custom text-center"><i class="fa-solid fa-plane"></i></div>
                <p class="text-center">OnlyFlans es una empresa enfocada en el mundo de la pastelería y los postres, en especial
                    en la venta de flan(de ahí su nombre), nace en 2021 en santiago de chile como una empresa
                    familiar que pretende entregar productos de calidad a su clientela, estando ubicada en
                    providencia, a pasos del metro Parque Bustamante.
                    Desde el clásico flan de vainilla hasta opciones más creativas como flan de chocolate y café, Onlyflans ofrece una experiencia culinaria única para los amantes de los postres. Con ingredientes frescos y recetas auténticas, cada flan de OnlyFlans es elaborado con amor y dedicación para garantizar la máxima calidad y sabor.</p>
            </div>
        </div>
        <div class="col-4 py-2"></div>


    </div>
</div>
{% endblock %}