{% extends "base.html" %}
{% block 'Contenido' %}

<div id="nav_destacados" class="container">
<div class="row">
    <h2 class=" text-center">{{flan.name}}</h2>
    <!-- <img src="{{flan.image_url}}" alt=""> -->
    <div class="col-3 col-sm-3 py-2"></div>
    <div class="col-6 col-sm-6 py-2 card mb-3 p-5">
    <img src="{{flan.image_url}}" class="card-img-top " alt="..." style="max-height: 300px; max-width: 900px; border-color: blue;" />
    <div class="card-body">
        <h5 class="card-title">{{flan.name}}</h5>
        <p class="card-text">{{flan.description}}.</p>
        <p class="card-text">
            <small class="text-body-secondary">Precio: ${{flan.precio}}</small>
        </p>
        <a 
            id="add_cart"
            href="#"
            data-flan_id="{{flan.id}}"
            data-user_id="{{user.id}}"
            data-csrf_token="{{csrf_token}}"
            class="btn btn-primary"
            style="background-color: blueviolet; border-color: black;">Agregar al carro
        </a>

        <a href="{% url redirect_to %}" class="btn btn-primary" style="background-color: indianred;border-color: black;">Volver</a>
    </div>
    </div>
    <div class="col-3 col-sm-3 py-2"></div>

</div>
</div>

{% endblock %}